<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CONRED NRD2</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <a href="" class="logo d-flex align-items-center me-auto me-lg-0" >
          
          <header id="header">
            <img src="assets/img/log.jpg" width="auto" height="auto" alt="Logo SGC">
          </header>

        </a>
        
        <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1>Expedientes <span>NRD2</span> <br>Conred 2023</h1>
          <hr>
        </a>
  
        <a class="btn-book-a-table" href="/login">Iniciar Sesion</a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
      </div>
    </header><!-- End Header -->
  
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>

</html>